<% layout('layouts/boilerplate.ejs') %>
<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Create new Campground</a>
<ul>
    <% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if(campground.images.length) {%>
                <img src="<%= campground.images[0].thumbnail %>" alt="" class="img-fluid" />
                <% } else { %>
                <img
                    src="https://res.cloudinary.com/dhvsbgdjo/image/upload/w_200/v1613218410/YelpCamp/cb0kocmpvoq4xazebjos.jpg"
                    alt=""
                    class="img-fluid"
                />
                <% } %>
            </div>
            <div class="col-md-8">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location %> </small>
                </p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %> </a>
            </div>
        </div>
    </div>
    <% } %>
</ul>
